.card {
  max-width: 150px;
  height: 250px;
  text-align: center;
  border: 1px solid #c95151;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.more-info {
  width: 130px;
  height: 30px;
}

.deleteCard {
  width: 130px;
  height: 30px;
}

.none {
  display: none;
}

.text {
  display: block;
  opacity: 1;
  max-width: 130px;
  min-height: 50px;
  overflow: hidden;
}

.input {
  width: 130px;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
}