@import './var.scss';

.card {
  min-width: 280px;
  max-width: $max-width-on-card;
  max-height: $max-height-on-card;
  text-align: center;
  border: 1px solid #787070;
  border-radius: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color:$color-of-card;

  &__title {
    text-transform: uppercase;
  }
}

.none {
  display: none;
}

.text {
  display: block;
  opacity: 1;
  max-width: 180px;
  min-height: 50px;
  overflow: hidden;
}

.input {
  width: 200px;
  height: 150px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid #787070;
  border-radius: 20px;
  margin-bottom: 20px;
}