@import './mixins.scss';
@import './var';

.container {
  max-width: $width-of-container;
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @include onPhone {
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 100%;
  }
}
