@import './button.scss';
@import './card.scss';
@import './modal.scss';
@import './container.scss';
@import './loader.scss';
@import 'scss-reset/_reset.scss';

* {
  box-sizing: border-box;
  background-color: #f3f3f3;
}

body {
  height: 100vh;
}

