@import './mixins';

.loader {
  margin-top: 12%;
  margin-left: 15%;
  width: 50px;
  height: 50px;
  border: 3px solid #6062e4;
  border-left: transparent;
  border-radius: 50%;
  animation-name: lds-ring;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;

  @include onPhone {
    width: 30px;
    height: 30px;
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 0px;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}